.nav-item{
    font-size: 18px;
    margin-right: 10px;
    font-family: 'Poppins', sans-serif;
    
}
.main-button{
    background: #152143;
    color: white;
    border-radius: 6px;
}
.main-button:hover{
    color: white;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}
.font-color{
    color: #152143 !important;
    font-size: 34px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
